
<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mb-3"
      style="font-family: 'Open Sans', sans-serif;
      font-family: 'Oswald', sans-serif;
      color: white;
      text-shadow: 4px 4px 4px black;
      ">
        <i class="fas fa-user-plus"></i> Registrierung
      </h1>
      <%- include("./partials/messages") %>
   
      <form action="/users/register" method="POST">
        <div class="form-group">
          <label for="name" style="color: white;">Name</label>
          <input
            type="name"
            id="name"
            name="name"
            class="form-control"
            placeholder="Tippen Sie bitte Ihren Namen ein!"
            value="<%= typeof name != 'undefined' ? name : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="email" style="color: white;">E-Mail Adresse</label>
          <input
            type="email"
            id="email"
            name="email"
            class="form-control"
            placeholder="Tragen Sie bitte Ihre E-Mail Adresse ein!"
            value="<%= typeof email != 'undefined' ? email : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="password" style="color: white;">Passwort</label>
          <input
            type="password"
            id="password"
            name="password"
            class="form-control"
            placeholder="Erstellen Sie bitte ein Passwort!"
            value="<%= typeof password != 'undefined' ? password : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="password2" style="color: white;">Passwort Bestätigung</label>
          <input
            type="password"
            id="password2"
            name="password2"
            class="form-control"
            placeholder="Bestätigen Sie bitte Ihr Passwort!"
            value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
          />
        </div>
        <button type="submit" class="btn btn-primary btn-block">
          Registrieren
        </button>
      </form>
      <p class="lead mt-4" style="color: white;">Haben Sie bereits ein Konto? 
        <a href="/users/login" 
        style="font-size: 24px; color: black; text-decoration: none; text-shadow: 2px 2px gray;"
        >&nbsp;Einloggen</a>
      </p>
    </div>
  </div>
</div>
<style>
  body {
    font-family: 'Open Sans', sans-serif;
      font-family: 'Oswald', sans-serif;
  }
  .card{
        border-radius: 10px 10px;
        background-color: #2196f3;
      }
</style>